.experiences {
  width: 58%;
  background: darkgray;
  padding: 5px;
  border-radius: 10px;
}

.darkmode-experiences {
  width: 58%;
  background: rgb(25, 25, 25);
  padding: 5px;
  border-radius: 10px;
}