@media only screen and (max-width: 750px) {
  .header-photo {
    display: none;
  }
  .language-level {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .header-photo {
    width: 25%!important;
  }
  .darkmodebtn {
    display: none!important;
  }
}

.cv {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 3px -2px black;
  width: 80%;
  background: darkgray;
  margin: 1% auto;
  height: auto;
}

.subtitle-color {
  color: darkgray;
}

.main {
  margin-top: 1rem;
  display: flex;
  background: #9d9b9b;
  border-radius: 10px;
  padding: 10px;
}

.main-icon-phone {
  background-image: url("./Imgs/phone.png");
  background-repeat: no-repeat;
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

.main-icon-email {
  background-image: url("./Imgs/email.png");
  background-repeat: no-repeat;
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

.main-icon-LinkedIn {
  background-image: url("./Imgs/LinkedIn.png");
  background-repeat: no-repeat;
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

.main-icon-GitHub {
  background-image: url("./Imgs/GitHub.png");
  background-repeat: no-repeat;
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

hr {
  background: black;
  border: 0.5px solid black;
  opacity: 0.5;
}

.hardskillandexperience {
  margin-top: 1rem;
  display: flex;
  background: #9d9b9b;
  border-radius: 10px;
  padding: 10px;
}

.hardskills {
  width: 40%;
  margin-right: 10px;
}

.toast-green {
  position: fixed;
  bottom: 5%;
  margin: 0% 5%;
  font-weight: bold;
  padding: 1rem;
  background: green;
  color: #FFF;
  border-radius: 10px;
}

.toast-red {
  position: fixed;
  bottom: 5%;
  margin: 0% 5%;
  font-weight: bold;
  padding: 1rem;
  background: red;
  color: #FFF;
  border-radius: 10px;
}

/* darkmode */
.darkmode-cv {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 3px -2px black;
  width: 80%;
  margin: 1% auto;
  height: auto;
  background: black;
  color: #FFF;
}

.darkmode-main {
  margin-top: 1rem;
  display: flex;
  background: rgb(54, 54, 54);
  border-radius: 10px;
  padding: 10px;
}

.darkmode-hardskillandexperience {
  margin-top: 1rem;
  display: flex;
  background: rgb(54, 54, 54);
  border-radius: 10px;
  padding: 10px;
}
